{
  "sourceMaps": false,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "refresh": true,
        "runtime": "automatic"
      }
    },
    "target": "es2019"
  }
}
